@font-face {
  font-family: "Glyphicons Halflings";
  src: url("https://coquan.vn/3rdparty/ChatBotSDK/fonts/glyphicons-halflings-regular.woff2")
      format("woff2"),
    url("https://coquan.vn/3rdparty/ChatBotSDK/fonts/glyphicons-halflings-regular.woff")
      format("woff"),
    url("https://coquan.vn/3rdparty/ChatBotSDK/fonts/glyphicons-halflings-regular.ttf")
      format("truetype");
}
:root {
  --primary: #007bff;
}
/*----------------BASE CSS----------------*/
.d-flex {
  display: flex;
}

.text-bold {
  font-weight: bold;
}

.align-center {
  align-items: center;
}

#chat-GPT img,
#chat-GPT iframe {
  max-width: 100%;
}

#chat-GPT img {
  vertical-align: middle;
  border: 0;
}

.relative {
  position: relative;
}

.full-width {
  width: 100%;
}

.text-bold {
  font-weight: bold;
}

.chatbot-icon .x-botchat {
  position: absolute;
  top: 2px;
  right: -4px;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#chat-GPT .btn {
  padding-top: 0.44rem;
  padding-bottom: 0.44rem;
  border-radius: 0.5rem !important;
}

#chat-GPT .margin-bottom-2xs {
  margin-bottom: 0.25rem;
}
/* #iframe {
  border: none;
  width: 450px;
  bottom: 0;
  height: 70vh;
  right: 3px;
  position: fixed;
  z-index: 999;
} */

/*--------------------DETAIL CSS------------------*/
.chatbot-icon {
  position: fixed;
  bottom: 70px !important;
  width: auto;
  height: auto;
  right: 24px;
  z-index: 999;
}

.chatbot-icon .icon-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d9eafd;
  position: absolute;
  z-index: -1;
  top: -2px;
  left: -3px;
  animation: background-pulse 1.5s infinite ease-in-out;
}

.chatbot-icon .chatGPT-icon-action {
  display: block;
  background: #76c4f1;
  width: 95px;
  height: 95px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: oscillate-rotation 1s infinite ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes oscillate-rotation {
  0% {
    transform: rotate(0) scale(1) skew(0deg);
  }

  10% {
    transform: rotate(-25deg) scale(1) skew(0deg);
  }

  20% {
    transform: rotate(25deg) scale(1) skew(0deg);
  }

  30% {
    transform: rotate(-25deg) scale(1) skew(0deg);
  }

  40% {
    transform: rotate(25deg) scale(1) skew(0deg);
  }

  50% {
    transform: rotate(0) scale(1) skew(0deg);
  }

  100% {
    transform: rotate(0) scale(1) skew(0deg);
  }
}

@keyframes background-pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes icon-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
}

/*-------CHAT WINDOW*/
.chat-window .window-chatbot {
  position: fixed;
  bottom: 0;
  right: 60px;
  /* z-index: 9999; */
  z-index: 1000;
}

/*--------WINDOW CHATBOT*/
.window-chatbot {
  width: 440px;
  height: 620px;
  background: #ffffff;
  box-shadow: 0 20px 24px -4px rgba(16, 24, 40, 0.08),
    0 8px 8px -4px rgba(16, 24, 40, 0.03);
  border-radius: 12px 12px 0 0;
  display: flex;
  flex-direction: column;
}

.window-chatbot .header {
  display: flex;
  color: #ffffff;
  padding: 7.5px 15px;
  border-radius: 12px 12px 0 0;
  background: var(--primary);
}

.window-chatbot .header .header-img {
  flex-basis: 40px;
  flex-shrink: 0;
  position: relative;
}

.window-chatbot .header .header-icon {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  position: absolute;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  top: 0;
  display: flex;
  background: rgb(255 254 254);
  border-radius: 42%;
  transition: all 0.5s;
}

.window-chatbot .header .header-img:hover .header-icon {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.window-chatbot .header .header-title {
  font-size: 18px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  flex: 1;
}

.window-chatbot .header .header-actions {
  flex-basis: 80px;
  flex-shrink: 0;
  justify-content: flex-end;
}

.window-chatbot .header .action-button svg {
  line-height: 1;
}

.window-chatbot .header .action-button svg {
  line-height: 1;
}

.window-chatbot .header .action-button svg path {
  fill: #fff;
}

.window-chatbot .body {
  flex: 1;
}

.window-chatbot .body.scroll-container {
  overflow: auto;
}

/*-----------------CHATBOT FOOTER*/

.window-chatbot .footer {
  border-top: 1px solid #e6e6e6;
}

.window-chatbot .footer .message-form {
  flex-direction: column;
}

.window-chatbot .footer .message-content {
  flex: 1;
  max-height: 120px;
  overflow: auto;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin: 0.5rem;
  border: 1px solid #e6e6e6;
}

.window-chatbot .footer .message-content:focus {
  outline: 0 !important;
  border: 0;
}

.window-chatbot .footer .message-content::-webkit-scrollbar {
  border-radius: 6px;
  width: 5px;
}

.window-chatbot .footer .message-content::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.window-chatbot .footer .message-content::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #abb5c0;
}

.window-chatbot .footer .message-content::-webkit-scrollbar-thumb:hover {
  border-radius: 6px;
  background: #abb5c0;
}

.window-chatbot .footer button.submit {
  background: var(--primary);
  border: none;
  width: 44px;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window-chatbot .footer button.submit svg path {
  fill: #fff;
}

.window-chatbot.full-screen {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
}

.window-chatbot .backToBottom {
  background: #fff;
  position: absolute;
  bottom: 70px;
  border: 1px solid #e1c5c5;
  color: #333;
  right: 50%;
  z-index: 2;
  border-radius: 50%;
  transform: translateX(50%);
}

.window-chatbot.full-screen .list-message-chat .message-item .item-bottom .title {
  max-width: unset;
  width: fit-content;
  min-height: 30px;
}

.window-chatbot.full-screen
  .list-message-chat
  .message-item:not(.me-message)
  .item-bottom {
  max-width: 70%;
}

.window-chatbot.full-screen .list-message-chat .message-iteme .item-content {
  align-items: flex-end;
  max-width: 70%;
}

/*-----------------LIST MESSAGE CHAT*/

.list-message-chat .message-item {
  display: flex;
  margin-bottom: 1rem;
}

.list-message-chat .message-item .item-img {
  flex-basis: 40px;
  flex-shrink: 0;
}

.list-message-chat .message-item .item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 7.5px;
}

.list-message-chat .message-item .item-top {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
}

.list-message-chat .message-item .item-bottom .title {
  max-width: 400px;
  word-break: break-word;
  width: fit-content;
  background: #f3f3f4;
  border-radius: 0.5rem !important;
  padding-left: 7.5px !important;
  padding-right: 7.5px !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.list-message-chat .message-item .item-top .name {
  flex: 1;
  padding-right: 7.5px;
}

.list-message-chat .message-item .item-title {
  border-top-left-radius: 0 !important;
  border-radius: 0.5rem;
  padding: 5rem 7.5px;
  background: #f3f3f4;
}

.list-message-chat .message-item.me-message {
  flex-direction: row-reverse;
}

.list-message-chat .message-item.me-message .item-img {
  display: none;
}

.list-message-chat .message-item.me-message .item-content {
  flex: inherit;
  align-items: end;
  max-width: 85%;
}
.list-message-chat .message-item:not(.me-message) .item-bottom {
  max-width: 90%;
}

.window-chatbot.full-screen .list-message-chat .message-item.me-message .item-content {
  max-width: 70%;
}

.window-chatbot.full-screen .list-message-chat .message-item.me-message .item-top {
  width: 100%;
  /* min-width: 160px; */
}

.list-message-chat .message-item.me-message .item-title {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0 !important;
}

.list-message-chat .message-item.sequential .item-top {
  display: none;
}

/*-----------------MESSAGE SCROLLER*/
.message-scroller {
  padding: 1.25rem;
}

.window-chatbot .other-info {
  display: block;
  padding: 5px 10px;
  border: 1px solid #d5c1c1;
  border-radius: 10px;
  background: #fff;
  width: fit-content;
  color: #333;
  margin: 4px 0;
}
.window-chatbot .other-info:hover,
.window-chatbot .other-info:focus {
  text-decoration: none;
}
/*-----------------FOOTER*/

@media only screen and (max-width: 1440px) {
  .chat-window .window-chatbot {
    bottom: 0;
    height: 70vh;
    right: 3px;
  }
}

@media only screen and (max-width: 425px) {
  .chat-window .window-chatbot {
    bottom: 0;
    height: 100%;
    width: 100%;
    right: 0;
  }
}
/*-----------------REGISTER-----------------*/

.modal-register .modal-content .modal-header {
  padding: 0;
  border-bottom: none;
}

.modal-register .modal-content .modal-footer {
  border-top: none;
  padding: 0;
}

.modal-register .body-content {
  text-align: center;
}

.modal-register .close-modal {
  line-height: 30px;
}

.modal-register .body-content p {
  margin-top: 20px;
  font-size: 20px;
}
